<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Title Page</title>
  </head>
  <body>
    <h1>The page is being updated</h1>
    <p>We'll be right back soon</p>
  </body>
</html>
